* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(2, 2, 2);
  font-family: sans-serif;
}
h1 {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background-image: url("./img/dai.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  border: 0;
  box-shadow: 3px 4px 8px rgba(255, 255, 255, 1);
  transition: box-shadow 0.17s ease-out, transform 0.1s;
  transform: translateY(0);
  cursor: pointer;
}
.button:focus {
  outline: 0;
}
.active {
  box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.2);
  transform: translateY(4px);
}
